@{
    Layout = "~/Views/Shared/LayoutForm.cshtml";
    ViewBag.Title = "Welcome page";
}
<div>
    <div class="page-header">@ViewBag.Title</div>
    <div>
        <h2>Welcome to the Expense tracking system ! </h2>
        <div>
            Here you can tracking your expense. And get info about them.
        </div>
       
    </div>
</div>


